<div class="af-wrap">
  <h1>{{@title}}</h1>
  <p>{{@intro}}</p>

  {{#if this.error}}
    <div class="alert alert-error">{{this.error}}</div>
  {{/if}}

  {{#if this.sent}}
    <div class="alert alert-success">{{i18n "js.anonymous_feedback.sent"}}</div>
  {{/if}}

  {{!-- Honeypot: must stay invisible for humans --}}
  <Input
    @value={{this.website}}
    class="anon-feedback-honeypot"
    @type="text"
    autocomplete="off"
    tabindex="-1"
  />

  {{#unless this.unlocked}}
    <div class="control-group">
      <label class="control-label">{{i18n "js.anonymous_feedback.doorcode_label"}}</label>
      <div class="controls">
        <Input
          @value={{this.doorCode}}
          @type="password"
          class="af-input"
          autocomplete="one-time-code"
        />
      </div>
    </div>

    <div class="af-actions">
      <button type="button" class="btn btn-primary" {{on "click" this.unlock}}>
        {{i18n "js.anonymous_feedback.btn_next"}}
      </button>
    </div>
  {{else}}
    <div class="control-group">
      <label class="control-label">{{i18n "js.anonymous_feedback.subject_label"}}</label>
      <div class="controls">
        <Input
          @value={{this.subject}}
          class="af-input"
          placeholder={{@subjectPlaceholder}}
        />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">{{i18n "js.anonymous_feedback.message_label"}}</label>
      <div class="controls">
        <Textarea
          @value={{this.message}}
          class="af-textarea"
          placeholder={{@messagePlaceholder}}
        />
      </div>
    </div>

    <div class="af-actions">
      <button
        type="button"
        class="btn btn-primary"
        disabled={{this.sending}}
        {{on "click" this.send}}
      >
        {{#if this.sending}}
          {{i18n "js.anonymous_feedback.sending"}}
        {{else}}
          {{i18n "js.anonymous_feedback.btn_send"}}
        {{/if}}
      </button>
    </div>
  {{/unless}}
</div>
